* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-position: center;
    /* width: 100vw; */
    height: 80vh;
    background-image: url("https://images.unsplash.com/photo-1608501078713-8e445a709b39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");


    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 80px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 3px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ctn {
    padding: 15px 15px;
    border-radius: 20px;
    background: #fc036b;
}

.ctnButton {
    padding: 10px 15px;
    border-radius: 20px;
    background: #fc036b;


}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;


}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;

}

.active {
    color: #fc036b;
    text-decoration: underline;
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 30px;
    cursor: pointer;
    color: aliceblue;
    display: none;
}



/* Events */
section {
    width: 100%;
    margin: 80px auto;
}

html {
    overflow-x: hidden;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(101, 101, 199);
    padding: auto;

}

.row {
    display: flex;
    padding: 30px;
    align-items: center;
    width: 100%;
    justify-content: space-around;


}

/* .col{
    background-color: cornflowerblue;
} */
.row .col2 {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding: 28px 30px;
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;


}

.col1 {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding:50px 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;


}

.events .row {
    margin-top: 20px;
}

h4 {
    font-size: 5vmin;

    margin-bottom: 20px;
}

p {
    color: #8484bb;
    padding: 10px 30px;
}

.eventctn {
    margin-top: 30px;
    padding: 15px 15px;
    border-radius: 2px;
    border-radius: 20px;
    background: #fc036b;
}

.eventImage {
    width: 280px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* explore */
.explore {
    width: 100%;
    height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60');
    background-size: cover;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    margin-top: 20%;
    opacity: 0.9;

}
.explore-content {
    width: 60%;
   padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 4vmin;
    margin: 40px;
 
}
.content-col{
    
    width: 40%;
  
}
.explore-content p {
    color: rgb(221, 221, 221);
    margin-bottom: 10%;
}
.explore-content .eventctn{
        margin-top: 40px;
}
/* Tours */
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* align-items: center; */
}
.content-col {
    margin-top: 10px;
}
.content-col h1{
    color: #4c4cf3;
}
.content-col .line{
    margin-left: -0.4px;
}
.image-gallery img{
    width: 130px;
    margin: 3px;
}
.tours .row .image-col{
    width: 50%;
    height: 100%;
}
.image-col{
    width: 60%;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.footer{
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
   
 text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 30px;
}
/* Mobile device */
@media screen and (max-width:850px) {
    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        transition: all .5s ease;
    }

    .mobile-menu {
        border-bottom-right-radius: 35%;
        margin-top: 0px;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .title {
        margin-bottom: 50px;

    }

    .row .col2 {
        padding:0px 0px;
        width: 90%;
    }

    .row .col1 {
        padding: 0px 0px;
    }
    
    .eventImage {
        width: 190px;
    }
    .tours .row .image-col{
        width: 100%;
        height: 100%;
    }
    .content-col {
        margin-top: 0px;
        margin-right: 40px;
    }
   
  
    .image-gallery img{
        width: 100px;
        margin: 3px;
    }
  
 
    .content-col p{
        padding:10px;
        margin: 10px 10px;
    }
 
    .explore-content {
        width: 100%;

    }

    .footer{
      
        padding: 10px 10px;
    
    }
    .rowEvent{
        width: 100%;
    }

}